In [10]:
from pyspark.sql import SQLContext

In [11]:
sqlContext = SQLContext(sc)

In [12]:
s = sqlContext.read.json("sample.json")

In [13]:
s.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)

In [14]:
s.show()

+---+-------------+-----+
| id|         name|price|
+---+-------------+-----+
|  1| A green door| 12.5|
|  2|A yellow door|  1.5|
|  3|  A blue door| 11.5|
|  4|   A red door|120.5|
+---+-------------+-----+

In [15]:
s.filter(s['price'] > 12).select(s['name']).show()

+------------+
|        name|
+------------+
|A green door|
|  A red door|
+------------+

In [16]:
s.registerTempTable("sample")

In [17]:
sqlContext.sql("SELECT name FROM sample WHERE price >= 12").collect()

[Row(name=u'A green door'), Row(name=u'A red door')]